@import 'colors';


.body-view {
	overflow: hidden;
	position: relative;
	height: 100%;

	ul.actions {
		overflow: auto;
		margin: 0;
		padding: 0;
		border-bottom: 1px solid @border-color;
		
		> li {
			line-height: 1em;
			height: 1em;
			padding: 1em;
			float: left;
			width: auto;
			list-style: none;
			cursor: pointer;
			position: relative;
			
			&:hover {
				color: @text-selected-color;
			}

			.input-overlay {
				cursor: pointer;
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				opacity: 0;
			}
		}
	}



	.magnets-region {
		position: absolute;
		overflow: auto;
		left: 0;
		top: 3em;
		bottom: 0;
		width: 100%;
		right: 0;	
	}

	&.details-showing {
		.magnet-region {
			width: 100%;
			right: 0;

			@media (max-width:@small-screen-break-point) {
				right: 30em;
				width: auto;
			}
		}

	}



}