@import 'colors';


.body-view {

	.add-new {
		padding: 0.5em;
		border-bottom: 1px solid rgba(255, 255, 255, 0.05);

		input {
			width: 12em;
			background-color: rgba(255, 255, 255, 0.1);
			border: 0 none;
			padding: 0.5em;
			color: @text-color;
		}

		button {
			padding: 0.5em;
			background-color: transparent;
			border: 1px solid rgba(255, 255, 255, 0.1);
			color:rgba(255, 255, 255, 0.1);
			cursor: pointer;
			display: inline;
			margin: 0;
			font-size: 1em;
		}
	}
}