@import 'colors';
@import 'layoutValues';

.cards-view {
	padding: 5em;
	text-align: center;

	.content {
		max-width: 40em;
		margin: 0 auto;
	}

	img {
		margin-bottom: 1em;
	}
}


.overlay.create-card {
	.content {
		width: 16em;
		background-color: #ccc;
		padding: 1em;
		border-radius: 5px;

		textarea {
			display: block;
			height: 18em;
			width: 15em;
		}
	}
}

.card-collection-view {
	overflow: auto;
}

.card-view {
	float: left;
	width: 13em;
	margin-right: 0.5em;
	background-color: #ccc;
	border-radius: 5px;
	padding: 1em;
	height: 18em;
	overflow: hidden;
	text-overflow: elispses;
}