@import 'layoutValues';
@import 'colors';

.menu-view {

    overflow: hidden;

    

    ul {
        min-width: @small-screen-break-point;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: auto;

        @media (max-width:@small-screen-break-point) { min-width: 0; }
    }

    li {
        float: left;
        padding: 1em 2em;
        line-height: 2em;
        border-right: 1px solid @border-color;
        vertical-align: middle;
        cursor: pointer;

        form {
            display: inline-block;
        }

        > *:not(i) {
            min-width: 10em;
            margin-left: 1em;
        }

        &:hover {
            color: @text-selected-color;
        }

        @media (max-width:@small-screen-break-point) {
            min-width: 0;

            *:not(i) {
                display: none;
            }
        }
    }
    
    li {

        &.active {
            color: @text-selected-color;
            background-color: @body-bg-color;
        }
    }
}



