@import 'colors';
@import 'layoutValues';


.raids-view {
	padding: 5em;
	text-align: center;

	.content {
		max-width: 40em;
		margin: 0 auto;

		.main-img {
			width: 15em;
			margin-bottom: 1em;
		}
	}
}