@import 'colors';
@import 'layoutValues';


.settings-view {
    padding: 5em;
    text-align: center;

    .content {
        max-width: 40em;
        margin: 0 auto;

        img {
            width: 20em;
            margin-bottom: 1em;
        }
    }

    table.flags {
        max-width: 25em;
        margin: 2em auto;
        text-align: center;
        display: block;

        td:first-child {
            text-align: right;
        }
        td:last-child {
            text-align: left;
            font-weight: bold;
        }

    }
}