
@import "colors";
@import 'layoutValues';

@title-height: 15px;


.app-view {
    width: 100vw;
    height: 100vh;
    background-color: @bg-color;
    border: 2px solid @border-color;
    box-sizing: border-box;

    .header {
        height: @title-bar-height;
    }
}